header, main {
    padding: 0 40px;
}

header {
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 40px;
}

header img {
    cursor: pointer;
}

nav {
    display: inline-block;
    justify-content: space-between;
    margin-left: auto;
}